<div class="generic-container">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div>
            <h4>connectorId : </h4> {{connector.connectorId}}
        </div>
        <div>
            <h4>name : </h4> {{connector.name}}
        </div>
        <div>
            <h4>connectorClass : </h4> {{connector.config.connectorClass}}
        </div>
        <div>
            <h4>tasksMax : </h4> {{connector.config.taskMax}}
        </div>
        <div>
            <h4>mqttServerUri : </h4> {{connector.config.mqttServerUri}}
        </div>
        <div>
            <h4>mqttTopics : </h4> {{connector.config.mqttTopics}}
        </div>
        <div>
            <h4>kafkaTopic : </h4> {{connector.config.kafkaTopic}}
        </div>
        <div>
            <h4>confluentTopicBootstrapServers : </h4> {{connector.config.confluentTopicBootstrapServers}}
        </div>
        <div>
            <h4>confluentTopicReplicationFactor : </h4> {{connector.config.confluentTopicReplicationFactor}}
        </div>
        <div>
            <h4>confluentLicense : </h4> {{connector.config.confluentLicense}}
        </div>

    </div>

</div>