
<section>
  <div class="example-button-row">
    <a mat-raised-button color="primary" routerLink="/nodes/add">Add Node</a>
  </div>
</section>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="nodes" class="mat-elevation-z8">

    <ng-container matColumnDef="nameNode">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let node">{{node.nameNode}}</td>
    </ng-container>
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef>Address</th>
      <td mat-cell *matCellDef="let node">{{node.address}}</td>
    </ng-container>
    <ng-container matColumnDef="manufacturer">
      <th mat-header-cell *matHeaderCellDef>Manufacturer</th>
      <td mat-cell *matCellDef="let node">{{node.manufacturer}}</td>
    </ng-container>
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>Type</th>
      <td mat-cell *matCellDef="let node">{{node.type}}</td>
    </ng-container>
    <ng-container matColumnDef="memoryCapacity">
      <th mat-header-cell *matHeaderCellDef>Memory Capacity</th>
      <td mat-cell *matCellDef="let node">{{node.memoryCapacity}}</td>
    </ng-container>
    <ng-container matColumnDef="calculationCapacity">
      <th mat-header-cell *matHeaderCellDef>Calculation Capacity</th>
      <td mat-cell *matCellDef="let node">{{node.calculationCapacity}}</td>
    </ng-container>
    <ng-container matColumnDef="risidualEnergy">
      <th mat-header-cell *matHeaderCellDef>Risidual Energy</th>
      <td mat-cell *matCellDef="let node">{{node.risidualEnergy}}</td>
    </ng-container>
    <!--  <ng-container matColumnDef="installDate">
          <th mat-header-cell *matHeaderCellDef>Install Date</th>
          <td mat-cell *matCellDef="let node"></td>
      </ng-container>
      <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Status</th>
          <td mat-cell *matCellDef="let node"></td>
      </ng-container>
-->
    <ng-container matColumnDef="actions">

      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let node">
        <section>
          <div class="example-button-row">
            <button (click)="deleteNode(node.id)" mat-fab color="primary"
                    aria-label="Example icon button with a delete icon">
              <mat-icon>delete</mat-icon>
            </button>
            <button (click)="nodeDetails(node.id)" mat-raised-button color="accent">Details</button>
            <a routerLink="/nodes/update/{{node.id}}" mat-raised-button>Edit</a>
            <a [routerLink]="['/sensors/list/',node.id,'sensor']" mat-raised-button>Sensors</a>

          </div>


        </section>
      </td>

    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
