<div class="websocket w-25">
    <div class="card">
        <h5 class="card-header">Real-time-streming</h5>
        <div class="card-body">
            <h5 class="card-title">
                Message received
            </h5>
            <ul>
                <li> sensor id : {{jsonMessage.sensor_id}} </li>
            </ul>
            <ul>
                <li> value : {{jsonMessage.value}} </li>
            </ul>
            <ul>
                <li> timestamp : {{jsonMessage.timestamp}} </li>
            </ul>
        </div>
    </div>
</div>
<router-outlet></router-outlet>